{% extends 'base.html.twig' %}

{% block title %}Журнал{% endblock %}

{% block body %}
    <div class="container">
        <h2>Список классов</h2>
        {% for schoolclass in schoolclasses %}
            <div class="card-body border-bottom">
                <div>{{ schoolclass.number }} {{ schoolclass.letter }}</div>
                <div class="text-white bg-white"><a href="{{ path('single_class', {'schoolclass': schoolclass.id}) }}">Просмотр</a></div>
            </div>
        {% endfor %}
        <a href="{{ path('create_class') }}">Создать новый класс</a>
    </div>
{% endblock %}